<% layout("/layouts/boilerplate") %>

<img
  src="<%= listing.image.url %>"
  alt="Listing Image"
  style="width:100%; max-height:400px; object-fit:cover; border-radius:10px;"
>

<h3 class="mt-3">Listing Details</h3>

<ul>
    <li><strong><%= listing.title %></strong></li>

    <li>
    <strong>Hosted by:</strong>
    <%= listing.owner.username %>
</li>

    <li><%= listing.description %></li>

    <li>
    <strong>Price:</strong>
    ₹ <%= listing.price.toLocaleString("en-IN") %> / night
</li>

    <li><%= listing.location %></li>

    <li><%= listing.country %></li>

    <li>
        <b>Category:</b>
        <%= listing.category %>
    </li>
</ul>
<% if(currUser && !listing.owner._id.equals(currUser._id)){ %>

<div class="mb-4">

    <a
        href="/listings/<%= listing._id %>/edit"
        class="btn btn-dark"
    >
        Edit Listing
    </a>



    <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=DELETE"
        class="d-inline"
    >
        <button class="btn btn-danger">
            Delete Listing
        </button>
    </form>

</div>

<% } %>

<% if(currUser){ %>

<form
    action="/wishlist/<%= listing._id %>"
    method="POST"
    class="mb-3"
>

    <button class="btn btn-outline-danger">
        ❤️ Save to Wishlist
    </button>

</form>

<% } %>



<!-- Review Form -->

<% if(currUser){ %>

<div class="col-md-8">

<hr>

<h4>Leave a Review</h4>

<form
action="/listings/<%= listing._id %>/reviews"
method="POST"
class="needs-validation"
novalidate
>

<div class="mb-3">

<fieldset class="starability-slot">

<input
type="radio"
id="no-rate"
class="input-no-rate"
name="review[rating]"
value="0"
checked
/>

<input type="radio" id="first-rate1" name="review[rating]" value="1">
<label for="first-rate1">1 star</label>

<input type="radio" id="first-rate2" name="review[rating]" value="2">
<label for="first-rate2">2 stars</label>

<input type="radio" id="first-rate3" name="review[rating]" value="3">
<label for="first-rate3">3 stars</label>

<input type="radio" id="first-rate4" name="review[rating]" value="4">
<label for="first-rate4">4 stars</label>

<input type="radio" id="first-rate5" name="review[rating]" value="5">
<label for="first-rate5">5 stars</label>

</fieldset>

</div>

<div class="mb-3">

<label for="comment" class="form-label">
Comments
</label>

<textarea
id="comment"
name="review[comment]"
class="form-control"
rows="5"
required
></textarea>

<div class="invalid-feedback">
Please enter a review.
</div>

</div>

<button class="btn btn-outline-dark">
Submit Review
</button>

</form>

</div>

<% } %>



<!-- Reviews -->

<hr>

<h3>All Reviews</h3>

<div class="row">

<% if(listing.reviews.length === 0){ %>

<p>No reviews yet.</p>

<% } %>

<% for(let review of listing.reviews){ %>

<div class="card col-md-5 ms-3 mb-3">

<div class="card-body">

<h5 class="card-title">
<%= review.author.username %>
</h5>

<p
class="starability-result"
data-rating="<%= review.rating %>"
></p>

<p class="card-text">
<%= review.comment %>
</p>

<% if(currUser && review.author._id.equals(currUser._id)){ %>

<form
method="POST"
action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
>

<button class="btn btn-sm btn-dark">
Delete Review
</button>

</form>

<% } %>

</div>

</div>

<% } %>

</div>



<!-- Booking -->




<% if(currUser){ %>

<hr>

<div class="card shadow-sm col-md-6 mt-4 mb-4">

<div class="card-body">

<h4>
₹ <%= listing.price.toLocaleString("en-IN") %> / night
</h4>

<hr>

<h5>Reserve this Stay</h5>

<form
action="/listings/<%= listing._id %>/book"
method="POST"
>

<div class="mb-3">

<label class="form-label">
Check In
</label>

<input
type="date"
name="checkIn"
class="form-control"
min="<%= new Date().toISOString().split('T')[0] %>"
required
>

</div>

<div class="mb-3">

<label class="form-label">
Check Out
</label>

<input
type="date"
name="checkOut"
class="form-control"
min="<%= new Date().toISOString().split('T')[0] %>"
required
>

</div>

<div class="mb-3">

<label class="form-label">
Guests
</label>

<input
type="number"
name="guests"
class="form-control"
min="1"
value="1"
required
>

</div>

<button class="btn btn-danger w-100">
Book Now
</button>

</form>

</div>

</div>
<% } %>


<!-- Map -->

<hr>

<h3>Location Map</h3>

<style>
#map{
height:400px;
width:100%;
border-radius:10px;
}
</style>

<div id="map"></div>

<script>
const map = L.map('map').setView(
[
<%= listing.latitude %>,
<%= listing.longitude %>
],
13
);

L.tileLayer(
'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=<%= process.env.MAPTILER_API_KEY %>',
{
attribution: '&copy; MapTiler'
}
).addTo(map);

L.marker([
<%= listing.latitude %>,
<%= listing.longitude %>
])
.addTo(map)
.bindPopup("<%= listing.location %>")
.openPopup();
</script>